{
  "model_provider": "xxx",
  "model": "xxx",
  "base_url": "xxxx",
  "model_reasoning_effort": "medium",
  "api_key": "xxxxxxxx",
  "skills": {},
  "timeout": 60,
  "max_tokens": 2048,
  "temperature": 0.7,
  "qqbot": {
    "appid": "xxxx",
    "secret": "xxxxx"
  },
  "bocha_api": "xxxx",
  "brave_api": "xxxx"
}